# Numpy and Pandas

## Objectives: 

- Use numpy.random to generate a dataset.
- Read in various forms of data into a panadas dataframe
- Perform some basic operations on the dataframe

## Agenda

- Review Numpy
- Introduce Pandas
- Reading in data and merging dataframes (DF)
- working with missing values
- Slicing, selecing and extracting data

## Numpy


NumPy is the fundamental package for scientific computing with Python. It contains among other things:

- a powerful N-dimensional array object

- sophisticated (broadcasting) functions

- tools for integrating C/C++ and Fortran code

- useful linear algebra, Fourier transform, and random number capabilities

Besides its obvious scientific uses, NumPy can also be used as an efficient multi-dimensional container of generic data. Arbitrary data-types can be defined. This allows NumPy to seamlessly and speedily integrate with a wide variety of databases.

The core functionality of NumPy is its "ndarray", for n-dimensional array, data structure. These arrays are strided views on memory. In contrast to Python's built-in list data structure (which, despite the name, is a dynamic array), these arrays are homogeneously typed: all elements of a single array must be of the same type.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import numpy as np

In [20]:
# Create an array of 25 numbers between -1 and 1
pure = np.linspace(-1, 1, 25)

In [21]:
pure

array([-1.        , -0.91666667, -0.83333333, -0.75      , -0.66666667,
       -0.58333333, -0.5       , -0.41666667, -0.33333333, -0.25      ,
       -0.16666667, -0.08333333,  0.        ,  0.08333333,  0.16666667,
        0.25      ,  0.33333333,  0.41666667,  0.5       ,  0.58333333,
        0.66666667,  0.75      ,  0.83333333,  0.91666667,  1.        ])

In [ ]:
# Create a scatterplot where the x and y both refer to the array created above
plt.plot(pure, pure, 'o', color='black');

In [ ]:
#Add some noise to the data by randomly generating numbers between 0 and .5 to add to the Ys
noise = np.random.normal(0, .5, pure.shape, )
signal = pure + noise
plt.plot(pure, signal, 'o', color='black');

In [ ]:
# Graph a log transformation of the numbers
np.random.seed(1234)
pure = np.linspace(0, 10000, 50)
noise = np.random.normal(-.2, .2, pure.shape)
y = np.log(pure)
signal = y + noise

In [ ]:
# Create plot
fig, ax = plt.subplots()
ax.scatter(pure, signal)
ax.set_title('Log Transformation scatter plot')

plt.show()

**Use a numpy function to transform the `pure` data series and then create your own scatterplot of the new data with the `pure` data.**

In [ ]:
# Create plot
fig, ax = plt.subplots()

#transform your data with a numpy function
____ = np._____

#plot the newly retransformed graph
ax.scatter(pure, ____)

#rename your grpah
ax.set_title('______')

plt.show()

## Pandas

In [2]:
import pandas as pd

### Core components of pandas: Series and DataFrames

The primary two components of pandas are the `Series` and `DataFrame`.

A Series is essentially a column, and a DataFrame is a multi-dimensional table made up of a collection of Series.

<img src="series-and-dataframe.png" alt="drawing" width="600"/>

## Converting Lists to a Series

In [3]:
my_list = [1,2,3,4,5]
my_numpy_array = np.array([1,2,3,4,5])

In [4]:
my_list_ser = pd.Series(my_list)

In [5]:
my_list_ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
my_numpy_array_ser = pd.Series(my_numpy_array)

In [7]:
my_numpy_array_ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
help(pd.DataFrame)

## Creating a Dataframe

A dataframe can be created from many different types of data sources.  Below are different examples of this.

You can convert a series to a DF for easier viewing.

In [8]:
pd.DataFrame(my_numpy_array_ser)

   0
0  1
1  2
2  3
3  4
4  5

## Converting different data structures  to DataFrames

### You can use a dict

In [9]:
my_dict = {'my_column_name': ['my', 'column', 'elements', 'go', 'here'],
           'another_column': ['some', 'more', 'data', 'for', 'you']}

In [10]:
my_dict_df = pd.DataFrame(my_dict)

In [11]:
my_dict_df

  my_column_name another_column
0             my           some
1         column           more
2       elements           data
3             go            for
4           here            you

In [12]:
# You can also use a list of lists, or an array of arrays
headers = ['my', 'column', 'headers']
list_of_lists = [['col_1_val_1', 'col_2_val_1', 'col_3_val_1'],
               ['col_1_val_2', 'col_2_val_2', 'col_3_val_2'],
               ['col_1_val_3', 'col_2_val_3', 'col_3_val_3']]

In [16]:
pd.DataFrame(list_of_lists, columns = headers)

            my       column      headers
0  col_1_val_1  col_2_val_1  col_3_val_1
1  col_1_val_2  col_2_val_2  col_3_val_2
2  col_1_val_3  col_2_val_3  col_3_val_3

### Create a dataframe from a csv file

In [17]:
movies = pd.read_csv('IMDB-Movie-Data.csv')
movies.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

### Read CSV from weburl

*If you are doing this from git, make sure you have the url for the raw csv file*

In [18]:
pd.read_csv('https://raw.githubusercontent.com/learn-co-students/nyc-mhtn-ds-071519-lectures/master/week-1/Descriptive_Statistics/weight-height.csv')

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
5       Male  67.253016  152.212156
6       Male  68.785081  183.927889
7       Male  68.348516  167.971110
8       Male  67.018950  175.929440
9       Male  63.456494  156.399676
10      Male  71.195382  186.604926
11      Male  71.640805  213.741169
12      Male  64.766329  167.127461
13      Male  69.283070  189.446181
14      Male  69.243732  186.434168
15      Male  67.645620  172.186930
16      Male  72.418317  196.028506
17      Male  63.974326  172.883470
18      Male  69.640060  185.983958
19      Male  67.936005  182.426648
20      Male  67.915050  174.115929
21      Male  69.439440  197.731422
22      Male  66.149132  149.173566
23      Male  75.205974  228.761781
24      Male  67.893196  162.006652
25      Male  68.144033  192.343977
26      Male  69.089631  184.435174
27      Male  72.800844  206.828189
28      Male  67.421242  175.213922
29      Male  68.496415  154.342639
...      ...        ...         ...
9970  Female  65.618737  151.500389
9971  Female  64.640247  155.318297
9972  Female  60.653733  123.084293
9973  Female  60.737031  120.926500
9974  Female  65.393947  143.017835
9975  Female  66.251923  124.019917
9976  Female  61.475904  121.387236
9977  Female  64.494838  149.402547
9978  Female  57.375759  114.192209
9979  Female  62.056012  125.135897
9980  Female  60.472262  110.768229
9981  Female  60.443264  135.559390
9982  Female  69.868511  177.992066
9983  Female  65.830726  132.827889
9984  Female  59.047029  111.707369
9985  Female  68.041065  170.514213
9986  Female  63.352698  141.906510
9987  Female  65.610243  151.169475
9988  Female  59.538729  121.244876
9989  Female  60.955084   95.686674
9990  Female  63.179498  141.266100
9991  Female  62.636675  102.853563
9992  Female  62.077832  138.691680
9993  Female  60.030434   97.687432
9994  Female  59.098250  110.529686
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

### Read in excel file

There is a file called `1617FedSchoolCodeList.xlsx` in this directory.Look up how to read an excel file into a dataframe and do it.

In [ ]:

pd.read_excel('1617FedSchoolCodeList.xlsx', index_col='ID')

### Create from  from json

In [ ]:
import json
db = json.load(open('foods-2011-10-03.json'))
len(db)

In [ ]:
pd.DataFrame(db)

In [ ]:
pd.read_json('foods-2011-10-03.json')

In [ ]:
info_keys = ['description', 'group', 'id', 'manufacturer']
info = pd.DataFrame(db, columns=info_keys)
info

## Familiarizing yourself with the DF

In [ ]:
# see the first 5 rows of a DF
movies.head()

In [ ]:
# see the last 5 rows of a DF

movies.tail()

In [ ]:
#look at the columns attribute

print(movies.columns)

In [ ]:
#look at the shape attribute
movies.shape

In [ ]:
#understanding the different types of data for each column
movies.info()

In [ ]:
#call on a specific column, can use .head and .tail on series

movies['Actors'].head()

In [ ]:
movies['Rating'].mean()

In [ ]:
#get descriptive stats by columns
movies.describe()

***Why do you think I'm not getting descrpitive statistics for one all of the columns?***

## Application

1. Create a pandas dataframe using the file `macrodata.csv`.
2. Determine how many columns and rows the dataframe has.
3. Generate some descriptive statistics of the different columns.

In [ ]:
# your code here

### Combining Data Frames

In [ ]:
#define a ditionary containing employee data
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd'],
        'Mobile No': [97, 91, 58, 76]}

In [ ]:
#Convert the dictionary into DataFrame 
df1 = pd.DataFrame(data1,index=[0, 1, 2, 3])
df1

In [ ]:
#create a second data frame of employee data to merge the two 
data2 = {'Name':['Gaurav', 'Anuj', 'Dhiraj', 'Hitesh'], 
        'Age':[22, 32, 12, 52], 
        'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons'],
        'Salary':[1000, 2000, 3000, 4000]} 

df2 = pd.DataFrame(data2, index=[2, 3, 6, 7]) 
df2.head()

In [ ]:
df1

#### Concatenating Dataframes

In [ ]:
# df1.head()
# df2.head()

In [ ]:
pd.concat([df1, df2], sort=True, axis=0)

In [ ]:
pd.concat([df1, df2], sort=True, axis=1)

#### Merging Dataframes

<img src="joinimages.png" alt="drawing" width="550"/>

In [ ]:
pd.merge(df1, df2)

In [ ]:
help(pd.merge)

By calling the merge function on multiple dataframes without any specifications, it tries its best to merge them. It will assess any column that they find to be identical and use those as the merge.

In [ ]:
pd.merge(df1, df2, how='inner')

If we want to keep all data we should do an outer join

In [ ]:
pd.merge(df1, df2, how='outer')

If you are only concerned with data from one table, then you can specify that table is what you want to merge on.

In [ ]:
pd.merge(df1, df2, how='right')

Sometimes you want to be specific in which columns you want the dataframe to merge on

In [ ]:
pd.merge(df1, df2, how='right', on=['Name', 'Age'])

## Data transformation

### Removing duplicates

Duplicate rows may be found in a DataFrame for any number of reasons. Here is an example:

In [ ]:
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4,
                  'k2': [1, 1, 2, 3, 3, 4, 4]})
data

In [ ]:
# method that returns a boolean Series indicating whether each row 
# is a duplicate or not
data[data.duplicated()]

data.drop_duplicates()

If I call `data` again why are there still duplicates?

In [ ]:
data

In [ ]:
data.drop_duplicates(inplace=True)
data

In [ ]:
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4,
                  'k2': [1, 1, 2, 3, 3, 4, 4]})

#we are adding another column to help us understand which row was dropped
data['v1'] = range(7)

data

In [ ]:

data.drop_duplicates(['k1'])

In [ ]:

data.drop_duplicates(['k1'], keep='last')

In [ ]:
myData = data.drop_duplicates(['k1'], keep='last')

### Notice that the index values are no longer incremented evenly by 1
#### df.reset_index() is your friend. More useful applications of reset_index() coming soon!

In [ ]:
myData.reset_index()

## Examining different parts of the data frame

In [ ]:
# movies_df = pd.read_csv('IMDB-Movie-Data.csv', index_col='Title')
movies.head()

#### There are a few different ways to select data from a dataframe

In [ ]:
# Returns a series
movies['Rank'].head()

In [ ]:
# Returns a dataframe
movies[['Rank']].head()

Now we'll look at getting data by rows.

For rows, we have two options:

- .loc - locates by name
- .iloc- locates by numerical index

Remember that we are still indexed by movie Title, so to use .loc we give it the Title of a movie:

In [ ]:
movies.head(3)

In [ ]:
# use loc to find the row by name
prom = movies.loc["Prometheus"]

prom

In [ ]:
#use iloc to find the row by numerical index

prom = movies.iloc[1,]
prom

`loc` and `iloc` can be thought of as similar to Python list slicing. To show this even further, let's select multiple rows.


How would you do it with a list? In Python, just slice with brackets like `example_list[1:4]`. It's works the same way in pandas:

In [ ]:
movies.loc['Prometheus':'Sing']

In [ ]:
mov_df = movies.loc['Prometheus':'Sing']
mov_df

In [ ]:
# Note that we can use reset_index() to filter upon a numerical index as opposed to a string index
movies_df_reindexed = movies.reset_index()
movies_df_reindexed.head()

In [ ]:
# Now we can index by integer values
movies_df_reindexed.iloc[1:4]

In [ ]:
movies_df.iloc[1:4]

## Conditional selections


For example, what if we want to filter our movies DataFrame to show only films directed by Ridley Scott or films with a rating greater than or equal to 8.0?

To do that, we take a column from the DataFrame and apply a Boolean condition to it. Here's an example of a Boolean condition:

In [ ]:
movies_df = pd.read_csv('IMDB-Movie-Data.csv', index_col='Title')

### In Pandas

In [ ]:
condition = (movies_df['Director'] == "Ridley Scott")

condition

We want to filter out all movies not directed by Ridley Scott, in other words, we donâ€™t want the False films. To return the rows where that condition is True we have to pass this operation into the DataFrame:

In [ ]:
movies_df[condition]

In [ ]:
movies_df[movies_df['Director'] == "Ridley Scott"]

**Find how many movies were directed by Christopher Nolan.**

In [ ]:
#put your code here
____[____ == _____]

Let's look at conditional selections using numerical values by filtering the DataFrame by ratings:

In [ ]:
movies_df[movies_df['Rating'] >= 8.8]

We can make some richer conditionals by using logical operators: 
- `|`    for "or"  
- `&`    for "and"


Let's filter the the DataFrame to show only movies by Christopher Nolan OR Ridley Scott:

In [ ]:
movies_df[(movies_df['Director'] == 'Christopher Nolan') | (movies_df['Director'] == 'Ridley Scott')]

** What is the average revenue of all of the movies by Christopher Nolan that have a score of 8.7 or better**

In [ ]:
# your code here

____ = movies_df[(____) & (_____)]

____[_____]._____()

Using the `isin()` method we could make this more concise though:

In [ ]:
movies_df[movies_df['Director'].isin(['Christopher Nolan', 'Ridley Scott'])].head()

Using `~` flips your booleans and allows you to find the inverse of your query.

In [ ]:
movies_df[~movies_df['Director'].isin(['Christopher Nolan', 'Ridley Scott'])].head()

## Applied Question: 

Which group of movies has the higher average revenue those with a rating of above 8, or those with at least 300,000 reviews?

In [ ]:
# Subset the dataframe to find movies with a rating above 8.

In [ ]:
# Find the average revenue of that group.

In [ ]:
# Subset the dataframe to find movies with more than 300,000 votes.

In [ ]:
# find the average of that group