In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
import time
import os
import glob
import re

In [2]:
actuals = pd.read_csv('answers.csv', names = ['answers'], header=0, index_col=0)

In [3]:
actuals.reset_index(drop=True, inplace =True)

In [4]:
actuals.shape

(7500, 1)

In [7]:
actuals.head(20)

    answers
0         0
1         0
2         1
3         0
4         0
5         1
6         0
7         0
8         0
9         1
10        0
11        0
12        0
13        0
14        0
15        1
16        0
17        0
18        0
19        0

In [6]:
actuals.dtypes

answers    int64
dtype: object

In [14]:
actuals.mean()

answers    0.2212
dtype: float64

In [8]:
path = '/Users/swilson5/Documents/DSC/ds-033020/nyc-ds-033020-lectures/Mod_3/bake_off/answers'
extension = 'csv'

In [9]:

# create a list of all file names
# starting with testlabels_ from the file



os.chdir(path)
files = glob.glob('*.{}'.format(extension))
print(files)

['results_GAAC.csv', 'default_preds_DKZA.csv', 'JBJB_Bakeoff_Results.csv', 'default_finalpreds_ASKM.csv', 'predictions_RMFD.csv', 'predictions_CF_JS .csv', 'Default_predictions_AH.csv', 'validation_prediction_MOSR.csv']

In [10]:
#create dictionary to store results
results = {}

In [11]:
for file in files:
    name = file.split("_")[-1].split(".")[0]
    print(name)
    guesses = pd.read_csv(file, header=None, index_col=0 )
    # guesses.sort_index(inplace=True)

    if guesses.shape[0] != 7500:
        guesses = pd.read_csv(file, index_col=0 )
        if guesses.shape[0] != 7500:
            print(name, "not the correct size", guesses.shape[0]  )
            continue
    f1 = metrics.f1_score(actuals['answers'],guesses)
    acc = metrics.accuracy_score(actuals['answers'],guesses)
    results[name]= [acc, f1]

GAAC
DKZA
Results
ASKM
RMFD
JS
AH
MOSR

In [12]:

sorted_results = sorted(results.items(), key=lambda x: x[1][1])

In [13]:


print('Now printing the results with in ascending order')

for k,v in sorted_results:
#     print(v[1])
    print('{} achieved an F1 of {} and a Accuracy of  {}\n'.format(
          k.upper(), v[1], v[0]))

    time.sleep(2)

Now printing the results with in ascending order
DKZA achieved an F1 of 0.39966694421315574 and a Accuracy of  0.8077333333333333

GAAC achieved an F1 of 0.4084613447494334 and a Accuracy of  0.6868

RMFD achieved an F1 of 0.5484949832775919 and a Accuracy of  0.784

JS  achieved an F1 of 0.5520287054926856 and a Accuracy of  0.7836

MOSR achieved an F1 of 0.5535094742460634 and a Accuracy of  0.7769333333333334

ASKM achieved an F1 of 0.5587424158852731 and a Accuracy of  0.7866666666666666

AH achieved an F1 of 0.5590844062947067 and a Accuracy of  0.7945333333333333

RESULTS achieved an F1 of 0.5622851097593229 and a Accuracy of  0.7793333333333333